{% extends 'navigation/basic.html' %}
{% block title %}Home{% endblock %}
{% block head %}
{% load static %}
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Time-Lapse Video</title>
    <style>
        #video-container {
            position: relative;
            width: 100%;
            height: 100%;
        }
        /* CSS to make video responsive */
        video {
            object-fit: cover;
            width: 100%;
            height: 60vh;
        }
        #overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7); /* Adjust the alpha (4th value) to control transparency */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
        }
        h3 {
            margin: 0;
            padding: 10px;
            font-size:15px
        }
        h1 {
            font-size: 120px; /* Adjust the font size to your preference */
        }
    </style>
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock %}
{% block body %}
    <div id="video-container">
        <video autoplay muted loop>
            <source src="/static/videos/videoplayback.webm" type="video/webm">        
        </video>
        <div id="overlay">
            <h1 style="font-family: Georgia, serif;text-align:center;font-size:100px;">Welcome To</h1>
            <h1 style="font-family: Georgia, serif;text-align:center;">LAMS</h1>
            <h3 style="text-align:center;font-family: Georgia, serif;font-size:small;">
                LAMS (Library Attendance Management System) streamlines attendance tracking, supports data-driven decisions,<br> and optimizes library resources while promoting a student-friendly environment through technology.</h3>        </div>
    </div>    
<div class="container text-center mt-5"> <!-- Added more margin (mt-5) for more spacing -->
    <div class="row">
        <div class="col-md-3">
            <a href="/home" class="button btn-block btn-lg">Attendance Records</a> <!-- Added btn-lg for larger buttons -->
        </div>
        <div class="col-md-3">
            <a href="/analysis" class="button btn-block btn-lg">Analysis</a> <!-- Added btn-lg for larger buttons -->
        </div>
        <div class="col-md-3">
            <a href="/topuser" class="button btn-block btn-lg">Top User</a> <!-- Added btn-lg for larger buttons -->
        </div>
        <div class="col-md-3">
            <a href="/livemembers" class="button btn-block btn-lg">Live Members</a> <!-- Added btn-lg for larger buttons -->
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
{% endblock %}